<% if current_user.leader? %>
  <div class="text-right">
    <%= link_to "Nueva Actividad", new_activity_path, class: "btn btn-primary" %>
  </div>

  <%= render partial: "table_activities_for_project", locals: { activities: @activities.values.first, project_name: (@project ? @project.name : nil) } %>
<% end %>

<% if current_user.admin? %>
  <% @activities.each do |projec_id, activities| %>
    <br>
    <%= render partial: "table_activities_for_project", locals: { activities: activities, project_name: @project_names[projec_id] } %>
  <% end %>
<% end %>

<br>

